@import "./utils/variables";
@import "./utils/media";
@import "./components/button";
@import "./components/hero";
@import "./components/logo";
@import "./components/modal";
@import "./components/navigation";
@import "./components/newsletter-form";
@import "./components/order-form";
@import "./components/page-header";
@import "./components/portfolio-gallery";
@import "./components/social-links";
@import "./components/page-footer";
@import "./components/menu-toggle.scss";

// GLOBAL SELECTORS
body {
  font-family: $fontFamily;
  font-size: $fontSize;
  color: $textColor;
}

p,
h1,
ul {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

// SECTION, CONTAINER
.container {
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 60px 0;

  @include xl {
    padding: 94px 0;
  }

  &__heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $textColor;
    margin-bottom: 30px;

    @include xl {
      margin-bottom: 50px;
    }
  }
}

.no-gap {
  display: block;
}

.section__hidden {
  display: none;

  @include xl {
    display: block;
    padding-top: 0;
  }
}

// SECTION "Czym się zajmujemy"
.list-offer {
  letter-spacing: 0.03em;
  text-align: center;

  &__item {
    @include md {
      /*  Set the width of the elements  */
      flex-basis: calc((100% - 30px) / 2);
    }
  }

  &__title {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: $textColor;
  }

  &__text {
    line-height: 1.71;
    color: $colorMediumGray;
  }

  &__box {
    background-color: $colorLightGray;
    border-radius: 4px;
    height: 120px;
    display: flex;
    margin-bottom: 30px;
  }

  &__icon {
    margin: auto;
  }

  @include md {
    text-align: left;
    display: flex;
    gap: 30px;
    justify-content: space-between;
  }
  @include md-max {
    flex-wrap: wrap;
  }
}

.gallery-offer {
  display: none;

  @include xl {
    display: flex;
    justify-content: space-between;
  }

  &__card {
    position: relative;
    margin: 0;

    & figcaption {
      background-color: rgba(47, 48, 58, 0.8);
      color: $colorWhite;
      line-height: 1.15;
      text-transform: uppercase;
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;
      padding: 27px;
      font-weight: 700;
      letter-spacing: 0.03em;
    }
  }
}

// SECTION "Nasz zespół"
.staff__section {
  background-color: $colorLightGray;
}

.gallery-staff {
  @include md {
    display: flex;
    justify-content: center;
    gap: 30px;
  }

  @include md-max {
    flex-wrap: wrap;
  }

  &__item {
    box-shadow: $boxShadowMedium;
    border-radius: 0px 0px 4px 4px;
    background-color: $colorWhite;
    margin: 0;

    @include sm-max {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    @include md {
      /*  Set the width of the elements  */
      flex-basis: calc((100% - 30px) / 2);
    }

    & figcaption {
      padding: 30px;
    }
  }

  &__heading {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    letter-spacing: 0.03em;
    color: $textColor;
    margin-bottom: 10px;
  }

  &__text {
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    letter-spacing: 0.03em;
    color: $colorMediumGray;
    margin-bottom: 16px;
  }
}

// SECTION "NASI KLIENCI"

.list-clients {
  display: flex;
  justify-content: center;
  gap: 30px;

  @include md-max {
    flex-wrap: wrap;
  }

  &__item {
    border: 1px solid $colorGray;
    border-radius: 4px;
    transition: border-color $shift;

    @include sm {
      flex-basis: calc((100% - 30px) / 2);
    }

    @include md {
      flex-basis: calc((100% - 60px) / 3);
    }

    &:hover {
      border-color: $brandColor;
    }
  }
}

.list-clients__link {
  cursor: pointer;
  display: block;
  display: flex;
  height: 92px;
}

.list-clients__icon {
  fill: $colorGray;
  transition: fill $shift;
  margin: auto;

  .list-clients__item:hover & {
    fill: $brandColor;
  }
}
