.hero {
  background-color: $backgroundColor;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: $backgroundGradient, url(../images/hero.jpg) no-repeat;
  background-size: 1600px;
  background-position: 50%;
  padding: 200px 0;
  height: 600px;

  & .container {
    text-align: center;
  }
}

.hero__text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $colorWhite;
  width: 696px;
  margin: 0 auto;
  margin-bottom: 50px;
}
