.logo {
  font-family: $fontLogo;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: $colorBlack;
  text-decoration: none;
  margin-right: 93px;
}

.logo--brand {
  color: $brandColor;
}
