.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;

  @include md {
    display: none;
  }
}

.menu-icon {
  fill: $colorBlack;

  &:hover,
  &:active {
    fill: $brandColor;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: $colorWhite;
  z-index: 999;

  transform: translateX(100%);
  transition: transform $shift;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 302px;

  &__item {
    display: block;

    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
}

.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: $textColor;
  text-decoration: none;

  &:hover,
  &:active {
    color: $brandColor;
    cursor: pointer;
  }

  &--active {
    color: $brandColor;
  }
}

.mobile-contacts {
  &__item {
    display: block;
    margin-bottom: 32px;
  }
}

.mobile-contacts__link {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: $brandColor;
  text-decoration: none;

  &--secondary {
    color: $colorMediumGray;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-decoration: none;
  }

  &:hover,
  &:active {
    cursor: pointer;
  }
}

.mobile-social-links {
  display: flex;
  &__item {
    &:not(:last-child) {
      padding-right: 10px;
      border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
    &:not(:first-child) {
      padding-left: 10px;
    }
  }

  &__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: $brandColor;
    text-decoration: none;

    &:hover,
    &:active {
      text-decoration: underline;
    }
  }
}
