// NEWSLETTER
.newsletter-form {
  display: flex;
  align-items: center;
  text-align: center;

  &__input {
    height: 50px;
    width: 358px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: $boxShadowLight;
    border-radius: 4px;
    outline: none;
    background-color: transparent;
    color: $colorWhite;
    padding: 15px 16px;
    margin-right: 12px;
    transition: border-color $shift, box-shadow $shift;

    &:focus,
    &:hover {
      border-color: $brandColor;
    }
  }
}
