.footer__container {
  display: flex;

  @include sm-max {
    flex-direction: column;
    // justify-content: center;
  }

  @include md-max {
    flex-wrap: wrap;
    justify-content: center;
  }

  @include xl {
    justify-content: space-between;
  }

  // @include sm-max {
  //   flex-direction: column;
  //   justify-content: center;
  // }

  // @include md {
  //   flex-direction: row;
  // }

  // @include md-max {
  //   align-items: center;
  //   flex-wrap: wrap;
  // }

  // @include lg {
  //   align-items: baseline;
  // }
}

.page-footer {
  background-color: $backgroundColor;
  padding: 60px;

  &__logo {
    color: $colorWhite;
    display: block;
    width: 154px;
    margin: auto;
    margin-bottom: 20px;
  }

  &__box {
    margin-bottom: 60px;
  }

  &__text {
    text-transform: uppercase;
    color: $colorWhite;
    font-weight: 700;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
    text-align: center;

    @include xl {
      text-align: left;
    }
  }
}

.list-address {
  text-align: center;

  @include xl {
    text-align: left;
  }

  .list-address__item:not(:last-child) {
    margin-bottom: 9px;
  }

  .list-address__link {
    color: #ffffff99;
    text-decoration: none;
    font-style: normal;
    line-height: 1.71;

    &:hover {
      color: #ffffff99;
      text-decoration: underline;
    }
    &--map-link {
      color: $colorWhite;
    }
  }
}
