// GRID
.portfolio {
  display: flex;
  gap: 30px;

  @include sm-max {
    flex-direction: column;
    align-items: center;
  }

  @include md {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.portfolio__item {
  transition: box-shadow $shift;
  // width: 450px;
  margin: 0;

  @include md {
    /*  Set the width of the elements  */
    // flex-basis: calc((100% - 30px) / 2);
    width: 354px;
  }

  @include xl {
    /*  Set the width of the elements  */
    // flex-basis: calc((100% - 60px) / 3);
    width: 370px;
  }

  &:hover {
    box-shadow: $boxShadowBig;
  }
}

// OVERLAY
.portfolio {
  &__box {
    overflow: hidden;
    position: relative;

    // @include md {
    //   width: 354px;
    //   // height: 294px;
    // }

    // @include xl {
    //   width: 370px;
    //   // height: 294px;
    // }
  }

  &__img {
    display: block;
    max-width: 100%;
    height: 294px;
    object-fit: cover;
  }

  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    background: rgba(33, 150, 243, 0.9);
    text-align: left;
    transition: transform $shift;
    visibility: hidden;

    .portfolio__item:hover & {
      transform: translateY(0);
      visibility: visible;
      cursor: pointer;
    }
  }

  &__content {
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: $colorWhite;
    padding: 77px 24px;

    @include xl {
      padding: 49px 45px 0 24px;
    }
  }
}

// PORTFOLIO CAPTION
.portfolio {
  &__caption {
    width: 450px;
    padding: 20px 24px;
    margin: 0;
    border-right: $borderPortfolio;
    border-bottom: $borderPortfolio;
    border-left: $borderPortfolio;
    text-align: left;

    @include md {
      width: 354px;
    }

    @include xl {
      width: 370px;
      text-align: center;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: $textColor;
    letter-spacing: 0.03em;
    margin-bottom: 4px;
  }

  &__text {
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: $colorMediumGray;
  }
}
